
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {

display:flex;
justify-content: center;
flex-direction: column; 
align-items: center;
background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #1c1012, #2f191c, #442124, #743730, #a25333, #c8762e, #e5a020);
font-family: inherit;
}


li {
display:inline-block ; 
font-size: 35px; 
padding: 5px;  
margin-right: 40px; 
text-align: center;


}


h1 {
display: flex;
margin-top: 2rem;
margin-bottom: 2rem;
padding: 13rem;
color:rgb(9, 8, 0);
font-size:45px; 
font-family: 'Montserrat', sans-serif;
background-image: url(../img/backg.jpeg);
background-size:cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: 100%;

 




}

ul li a {
    border-radius: 15px;
    padding: 12px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    color: rgb(241, 236, 236);
    transition: .3s;
  }
  
 
  ul li a:hover {
    color: #f1c70a;
    box-shadow: 0 0 25px #f99b05;
    text-shadow:  13px #e5d520;
    border-style: solid #f1c70a; 
    width: 3px;
    
  }

p {
color: antiquewhite;
    font-size: 23px;   
}

a  {
color: aliceblue; 
text-decoration: none;

}

header {
background-color: black; 
height: 500px; 

}

img {
display: inline-block;
text-align: center;
width:800px ;
max-width: 100%;

}



h2 {
    
display: flex;
text-decoration: underline; 
flex-direction:column;
font-size: 30px; 
border-style: solid;
border-radius: 18px;
border-color: rgb(254, 238, 13); 
padding: 25px; 
background-color: orange;
font-family: 'Roboto', sans-serif;
align-items: center;


}

input {
    display: grid;
    margin-top:25px; 
    background-color: rgb(204, 204, 204);
    text-align: center;
    align-items: center;
   
}

fieldset {
    width:800px ;
    height: 900px;
    margin-top: 15px; 
    background-image: url(../img/backg.jpeg); 
    font-size:32px; 
    display:grid;
    text-align: center;
    align-content: center;
    
    padding: 15px;
    box-shadow:2rem; 
    border-color:rgb(241, 165, 2);
    border-width: 15px; 
    color: rgb(7, 4, 0);
    border-radius: 20px;
    
 
}
label {
    display:flex;
    width: 150px;
    margin-left: 70px;
}



figure {
    display: inline-block; 
    size: 100px;
}


h5  { 
    color:#faf1f1;
    font-size:15px;
    font-weight: lighter; 
    font-family: 'Roboto', sans-serif;
    padding:25px;
    background-color: rgb(49, 44, 44); 
    text-align:center;
    margin-top:5px;
    margin-bottom:0%;
    
}
   
       
th {
    background-color: burlywood;
    padding: 25px;
    font-size: 24px;
    text-align: center;

}
td {
    background-color: orange;
    padding: 25px;
    text-align: center;


}

table {
    
    padding-top:20PX;
    border-spacing:45px; 
   text-align: center;
    background-image: url(../img/backg.jpeg);
    
}

iframe {
    max-width: 100%;
}

/*atributos de clase*/
.logo {

    text-align: center;
}


.textointro {
    color: rgb(206, 119, 4); 
    margin-top:20px; 
    text-align:center; 
    font-size:28px; 
    margin-left:35px; 
    margin-right:35px;
}

.menu { 
    text-align:center; 
    padding: 15px; 
    border-width: 25px;
    font-family: 'Montserrat', sans-serif;
    transform:translateY(-70px);
   

     
}

.blanco {
    color: aliceblue; 
    text-align: center; 
    font-size: 25px; 
    margin-left:35px; 
    margin-right: 35px;
 }


.contenedor {  
    display:grid;
    margin-top: 5rem;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 15rem 5rem 30rem;
    gap: 100px 100px;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "imagen1 imagen2 imagen3"
      "aside1 video video"
      "aside2 video video";
      
  }
  
  .imagen1 { 
    
    grid-area: imagen1; 
    width: 200px;
    border-color: #ff9d00;
    background-color: #000000;
    border-style: solid;
    padding: 25px;
    transition: all 0.5 ease-in ;
    text-align: center;
    font-size: 18px;
    font-family : 'Montserrat', sans-serif;
    font-weight: bolder;
    

 }
 .imagen1:hover {
    scale: 1.2;
    border-width: 4px;
    border-radius: 10%;
    border-style:solid;
    border-color: #fd8504;
    box-shadow: 0 0 25px #ffffa9;
    color:#e0ac02;
 }
  
  .imagen2 { 
    
    grid-area: imagen2;
    width: 200px;
    border-color: #ff9d00;
    background-color: #000000;
    border-style: solid;
    padding: 25px;
    transition: all 0.5 ease-in ;
    text-align: center;
    font-size: 18px;
    font-family : 'Montserrat', sans-serif;
    font-weight: bolder;
    }
  
    .imagen2:hover {
        scale: 1.2;
        border-width: 4px;
        border-radius: 10%;
        border-style:solid;
        border-color: #fd8504;
        box-shadow: 0 0 25px #ffffa9;
        color:#e0ac02;



    }
  .imagen3 { grid-area: imagen3;
    width: 200px;
    border-color: #ff9d00;
    background-color: #000000;
    border-style: solid;
    padding: 25px;
    transition: all 0.5 ease-in ;
    text-align: center;
    font-size: 18px;
    font-family : 'Montserrat', sans-serif;
    font-weight: bolder;

}
  

.imagen3:hover {
    scale: 1.2;
        border-width: 4px;
        border-radius: 10%;
        border-style:solid;
        border-color: #fd8504;
        box-shadow: 0 0 25px #ffffa9;
        color:#e0ac02;
}
  
 
 

.video { grid-area: video;
    display: grid;
    vertical-align: top;
    align-content: flex-start;
    
  
   
    }

    .video iframe {
        display: grid;
        width: 650px;
        height: 640px;
       align-content: flex-start;
        
    }
  
    .aside1 {
        grid-area: aside1;
        display: grid;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        text-align: center;
        background-color:#fd8504;
        color: #000000;
       
    }
     
    .aside2 {
        display: grid;
        align-items: stretch;

    }
   .textoaside {
    align-items: center;
    padding: 15px;
    justify-content: center;
    text-align: center; 
    border-style: solid;
    border-color:#000000 ;
    color: #000000;
   }

   .textoaside2 {
    align-items: stretch;
    padding: 15px;
    justify-content: center;
    text-align: center; 
    border-style: solid;
    border-color: #090000  2px  ;
    background-color: hsl(0, 0%, 0%);
    color: #000000;
    font-weight: bolder;
    font-size: 34px;
  

 }
   











.titulo {
    color: black; 
    text-decoration: underline;
    text-align: center;
}

.ubicacion iframe {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 10px; border-color: darkorange;
   
}


.galeria { display: inline-block;
margin-bottom: 40px;
border-style: solid; 
color: rgb(31, 7, 7);
background-color: rgb(44, 44, 44);
margin-left: 100px;
margin-right: 100px;
}

.galeria img {width: 30%;
    margin-left: 32%;
    margin-top: 15px;
    border-width: 10px; border-style: ridge;

}

.galeria a {
   display: inline-block;
    background-color: rgb(255, 255, 0); box-shadow: rgb(216, 66, 66);
   color: black;
   padding: 15px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-style: italic;
   border-color: black; border-style:double;
   border-width: 5px;
   text-align: center;
   margin-bottom: 30px;
   margin-left: 75%;
   border-radius: 15px;
}

.galeria h4 {
    color: darkorange; border-style: solid; border-color: darkorange;
    padding: 10px;
    background-color: black;
    padding-left:25px;border-radius: 15px;

}

.galeria p {
    margin-left: 40px;
    text-align: center;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

.faq {
    color: aliceblue;
}
.footerimg {
filter: grayscale(70);
}




/*atributos id*/


#multi {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 55px;
    padding-top: 55px;
    

}
#galeria { 
    display:inline-block; 
    padding-right: 15px; 
}

#leyend {
    color: blanchedalmond; 
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
    
   
}

a:hover {
    color: gold;
  

    
}
#direccion p {
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-size:larger;
    font-weight: bold ;
    margin-left:41% ;
    
}
#mensaje {
    border-width: 5px;
    border-style: solid; color: rgb(0, 0, 0);
    text-align: start;
}

#faq p {
    text-align: center;
}
#tabla {
    
    display: inline-block;
    background-color: rgb(141, 95, 45);
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin-bottom: 75px;
}
 #tabla input {
    background-color: black;
    color: aliceblue;
    font-size:24px;
    text-align: center;
    
 }


 

    