
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {

display:grid;
/* min-width: 90%; */
align-content: center;
justify-content: center;
background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #1c1012, #2f191c, #442124, #743730, #a25333, #c8762e, #e5a020);
font-family: 'Montserrat', sans-serif;
}


header {
    background-color: black; 
    height: 500px; 
    
}
.logo {
    display:block;
    text-align: center;
    justify-content: center;
} 

img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width:900px ;
    max-width: 100%;
}

ul {
    display: flex;
    align-content: center;
    justify-content:space-evenly;

}

ul li a {
    border-radius: 15px;
    padding: 12px;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: space-around;
    line-height: 36px;
    font-size: 40px;
    color: rgb(241, 236, 236);
    transition: .3s;
}

ul li a:hover {
    color: #f1c70a;
    box-shadow: 0 0 25px #f99b05;
    text-shadow:  13px #e5d520;
    border-style: solid #f1c70a; 
    width: 3px;
    
}


h1 {
display: flex;
margin-top: 2rem;
margin-bottom: 2rem;
padding: 13rem;
color:rgb(9, 8, 0);
font-size:45px; 
font-family: 'Montserrat', sans-serif;
background-image: url(../img/backg.jpeg);
background-size:cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position:100%;
}


p {
color: antiquewhite;
    font-size: 23px;   
}

a  {
color: aliceblue; 
text-decoration: none;

}

.textointro {
    display: inline-flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    color: rgb(206, 119, 4); 
    margin-top:25px; 
    text-align:center;
    justify-content:center;
    font-size:28px;
    align-items: center;
    flex-wrap: wrap;
   
  

}
.contenedor {  
    display:grid;
    margin-top: 5rem;
    margin-bottom: 5rem;
     margin-left: 10%; 
    margin-right: 10%; 
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 15rem;
    justify-items: center;
    grid-template-areas:

    "imagen1 imagen2 imagen3 imagen4"
    

}

 @media screen and (max-width:902px) { 
    .contenedor {
   
    flex-direction: column;
    grid-template-columns: repeat (2,1fr);}
    } 
    
@media screen and (max-width:400px) {
    .contenedor {
         display: flex;
         flex-direction: column;
         align-items: center; }
        }

    


.imagen1 { 
    
    grid-area: imagen1; 
    width: 200px;
    border-color: #ff9d00;
    background-color: #000000;
    border-style: solid;
    padding: 25px;
    transition: all 0.5 ease-in ;
    text-align: center;
    font-size: 18px;
    font-family : 'Montserrat', sans-serif;
    font-weight: bolder;
    

 }
.imagen1:hover {
    scale: 1.2;
    border-width: 4px;
    border-radius: 10%;
    border-style:solid;
    border-color: #fd8504;
    box-shadow: 0 0 25px #ffffa9;
    color:#e0ac02;
 }
  
  .imagen2 { 
    
    grid-area: imagen2;
    width: 200px;
    border-color: #ff9d00;
    background-color: #000000;
    border-style: solid;
    padding: 25px;
    transition: all 0.5 ease-in ;
    text-align: center;
    font-size: 18px;
    font-family : 'Montserrat', sans-serif;
    font-weight: bolder;
    }
  
    .imagen2:hover {
        scale: 1.2;
        border-width: 4px;
        border-radius: 10%;
        border-style:solid;
        border-color: #fd8504;
        box-shadow: 0 0 25px #ffffa9;
        color:#e0ac02;



    }
 .imagen3 { 
    grid-area: imagen3;
    width: 200px;
    border-color: #ff9d00;
    background-color: #000000;
    border-style: solid;
    padding: 25px;
    transition: all 0.5 ease-in ;
    text-align: center;
    font-size: 18px;
    font-family : 'Montserrat', sans-serif;
    font-weight: bolder;

}
  

.imagen3:hover {
    scale: 1.2;
        border-width: 4px;
        border-radius: 10%;
        border-style:solid;
        border-color: #fd8504;
        box-shadow: 0 0 25px #ffffa9;
        color:#e0ac02;
}
  
.imagen4 { 
    grid-area: imagen4;
    width: 200px;
    height: 240px;
    border-color: #ff9d00;
    background-color: #000000;
    border-style: solid;
    padding: 25px;
    transition: all 0.5 ease-in ;
    text-align:center;
    font-size: 18px;
    font-family : 'Montserrat', sans-serif;
    font-weight: bolder;
}

    .imagen4:hover {
        scale: 1.2;
            border-width: 4px;
            border-radius: 10%;
            border-style:solid;
            border-color: #fd8504;
            box-shadow: 0 0 25px #ffffa9;
            color:#e0ac02;
    }

    

#carouselExampleIndicators {
   display:flex;
   width: 600px;
   height: 700px;
   border-top-style: solid;
   text-align:center;
   margin-bottom: 10rem;
   margin-top: 5rem;
   align-content: center;
   justify-content: center;
   flex-wrap: nowrap;
   margin: auto;

}




h2  {
  
display: flex;
text-decoration:none;
flex-direction:column;
height: 100px;
font-size: 40px; 
padding: 25px; 
margin-bottom: 5rem;
background-image: url(../img/backg.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
font-family: 'Roboto', sans-serif;
align-items: center;
}

iframe {
    max-width: 100%;

}
input {
    display: grid;
    margin-top:25px; 
    background-color: rgb(204, 204, 204);
    text-align: center;
    align-items: center;
   
}

fieldset {
    width:800px ;
    height: 900px;
    margin-top: 15px; 
    background-image: url(../img/backg.jpeg); 
    font-size:32px; 
    display:grid;
    text-align: center;
    align-content: center;
    
    padding: 15px;
    box-shadow:2rem; 
    border-color:rgb(241, 165, 2);
    border-width: 15px; 
    color: rgb(7, 4, 0);
    border-radius: 20px;
    
 
}
label {
    display:flex;
    width: 150px;
    margin-left: 70px;
}



figure {
    display: inline-block; 
    size: 100px;
}


h5  { 
    color:#faf1f1;
    font-size:15px;
    font-weight: lighter; 
    font-family: 'Roboto', sans-serif;
    padding:25px;
    background-color: rgb(49, 44, 44); 
    text-align:center;
    margin-top:5px;
    margin-bottom:0%;
    
}
   
       
th {
    background-color: burlywood;
    padding: 25px;
    font-size: 24px;
    text-align: center;

}
td {
    background-color: orange;
    padding: 25px;
    text-align: center;


}

table {
    
    padding-top:20PX;
    border-spacing:45px; 
    text-align: center;
    background-image: url(../img/backg.jpeg);
    
}




.menu { 
    text-align:center; 
    padding: 15px; 
    border-width: 25px;
    font-family: 'Montserrat', sans-serif;
    transform:translateY(-70px);

}

.blanco {
    color: aliceblue; 
    text-align: center; 
    font-size: 25px; 
    margin-left:35px; 
    margin-right: 35px;
 }

.titulo {
    color: black; 
    text-decoration: underline;
    text-align: center;
}

.ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ubicacion iframe{
    max-width: 100%;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 10px; border-color: rgb(0, 0, 0);
    justify-items: center;
    flex-wrap: nowrap;
    text-align: center;

   
}

/* -----------------PÁGINA SALAS----------------------*/





.galeria { 
display:inline-block;
margin-bottom: 40px;
border-style: solid; 
color: rgb(31, 7, 7);
background-color: rgb(44, 44, 44);
align-items: center;
justify-content: center;




}

.galeria img {
    width: 500px;
    margin-top: 15px;
    border-width: 5px; 
    border-style: ridge;
    align-items:  center;
    text-align: center;

}

.galeria a {
   display: inline-block;
   background-color: rgb(234, 175, 12); box-shadow: rgb(216, 66, 66);
   color: black;
   padding: 15px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-style: italic;
   border-color: black; border-style:double;
   border-width: 5px;
   text-align: center;
   margin-bottom: 30px;
   margin-left: 75%;
   border-radius: 15px;
}

.galeria h4 {
    color: darkorange; border-style: solid; border-color: darkorange;
    padding: 10px;
    background-color: black;
    padding-left:25px;border-radius: 15px;

}

.galeria p {
    margin-left: 40px;
    text-align: center;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

.faq {
    color: aliceblue;
}
.footerimg {
filter: grayscale(70);
}




/*atributos id*/


#multi {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 55px;
    padding-top: 55px;
    

}
#galeria { 
    display:inline-block; 
    padding-right: 15px; 
}

#leyend {
    color: blanchedalmond; 
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
    
   
}

a:hover {
    color: gold;
  

    
}
#direccion p {
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-size:larger;
    font-weight: bold ;
    margin-left:41% ;
    
}
#mensaje {
    border-width: 5px;
    border-style: solid; color: rgb(0, 0, 0);
    text-align: start;
}

#faq p {
    text-align: center;
}
#tabla {
    
    display: inline-block;
    background-color: rgb(141, 95, 45);
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin-bottom: 75px;
}
 #tabla input {
    background-color: black;
    color: aliceblue;
    font-size:24px;
    text-align: center;
    
 }


 

    