.productos {
    margin-bottom: 5rem;
    margin-left: 5%;
    margin-right: 5%;
    justify-items: center;
    align-items: space-around;
  }
  
  @media screen and (max-width: 796px) {
    .productos {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  @media screen and (min-width: 796px) {
    .productos {
      display: inline-block;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  .caja {
    display: inline-block;
    align-content: space-between;
    column-gap: 25px;
  }
  
  .caja1 {
    
    display: inline-block;
    flex-direction: column;
    row-gap: 15px;
    width: 300px;
    height: 850px;
    row-gap: 10px;
    border: 3px;
    margin: 15px;
    border-style: solid;
    color:$color_1;
    border-width: 5px;
    justify-items: auto;
    align-items: center;
    background-image: url("../img/theclock.webp");
    label {
        color: #f5ebeb;
            }
    a {
    text-decoration: none;
    color: rgb(7, 0, 0);
    background-color: #f3a807;
    font-size: larger;
    padding: 20px;
    border-radius: 15px;
    border-style: solid black;
    border-width: 3px;
      &:hover {
      @extend.botoneshover;
      } 
  }
}

form {
    
    @include flex-column-center;
    padding: 2px;
    margin: 5px;
    margin-bottom: 20px;
    font-family:$fuente_secundaria ;
    select{
      font-size:$fuente_mediana;
      font-family: $fuente_secundaria;
    }
  }
  
  .opciones {
    color:$color_1;
    font-size: $fuente_mediana;
    border-radius: 15px;
    align-content: center;
    text-align: center;
    margin-bottom: 25px;
    background-color: #000000;

  }
  
  
  
  input#start {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: $fuente_mediana;
    font-family: $fuente_secundaria;
  }