.productos {

margin-bottom: 1rem;
margin-left: 5%;
margin-right: 5%;
justify-items: center;
align-items: space-around;

}
  
  @media screen and (max-width: 796px) {
    .productos {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  @media screen and (min-width: 796px) {
    .productos {
      display: inline-block;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
}
  
.caja {

display: inline-block;
align-content: space-around;
column-gap: 25px;
margin-bottom: 5rem;
align-items: center;

}
  
.caja1 {
    
display: inline-block;
flex-direction: column;
margin-bottom: 5rem;
row-gap: 15px;
width: 300px;
height: 800px;
row-gap: 10px;
border: 3px;
margin: 15px;
border-style: solid;
color:$color_1;
border-width: 5px;
justify-items: auto;
align-items: center;
background-image: url("../img/theclock.webp");
    label {
        color: #f5ebeb;
            }
    a {
    margin-top: 30px;
    text-decoration: none;
    color: rgb(7, 0, 0);
    background-color: #f3a807;
    font-size: larger;
    padding: 20px;
    border-radius: 15px;
    border-style: solid black;
    border-width: 3px;
      &:hover {
      @extend.botoneshover;
      } 
  }
}

.caja1:hover{
  
  border-color: gold;
  box-shadow: 0 0 27px #f8e42e;

}

form {

@include flex-column-center;
padding: 2px;
margin: 5px;
margin-bottom: 20px;
font-family:$fuente_secundaria ;
    

    select{
margin-bottom: 10px;
font-size:$fuente_mediana;
font-family: $fuente_secundaria;
    }

    label {
      margin-top:5px ;
    }
  }


.opciones p {

color:$color_1;
font-size: $fuente_mediana;
border-radius: 15px;
align-content: center;
text-align: center;
margin-bottom: 25px;
background-color: #000000;

}
  
  
  
  input#start {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: $fuente_mediana;
    font-family: $fuente_secundaria;
  }

  .precios p {
  
  @include flex-column-center;
  
  font-family:$fuente_secundaria;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color:$color_2;
  border-style: solid;
  border-color:$color_1;
  padding: 5px;
  background-color: black;
  border-radius: 15px;
  align-self: center;
  text-align: center;
  }