@import"index";




  .contacto {
    margin-top: 5rem;
  }
  
  figure {
    display: inline-block;
    size: 100px;
  }
  
  h5 {
    color: #f5ebeb;
    font-size: 15px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    padding: 25px;
    background-color: rgb(49, 44, 44);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0%;
  }
  
  .productos {
    margin-bottom: 5rem;
    margin-left: 5%;
    margin-right: 5%;
    justify-items: center;
    align-items: space-around;
  }
  
  @media screen and (max-width: 796px) {
    .productos {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  @media screen and (min-width: 796px) {
    .productos {
      display: inline-block;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  .caja {
    display: inline-block;
    align-content: space-between;
    column-gap: 25px;
  }
  
  .caja1 {
    display: inline-block;
    flex-direction: column;
    row-gap: 15px;
    width: 300px;
    height: 850px;
    row-gap: 10px;
    border: 3px;
    margin: 15px;
    border-style: solid;
    color: rgb(0, 0, 0);
    border-width: 5px;
    justify-items: auto;
    align-items: center;
    background-image: url("../img/theclock.jpg");
     
  }
  
  /* .reservanombres {
  
    height: 55px;
    justify-content: center;
    text-align: center;
    align-items:center;
    background-color: #000000;
    color: #f29e01;
    
  
  } */
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2px;
    margin: 5px;
    margin-bottom: 20px;
  }
  
  .opciones {
    color: #fab113;
    font-weight: bolder;
    border-radius: 15px;
    align-content: center;
    text-align: center;
    margin-bottom: 25px;
    background-color: #000000;
  }
  
  .caja1 label {
    color: #f5ebeb;
  
  }
  
  
  
  .caja1 a {
    text-decoration: none;
    color: rgb(7, 0, 0);
    background-color: #f3a807;
    font-size: larger;
    padding: 20px;
    border-radius: 15px;
    border-style: solid black;
    border-width: 3px;
  }
  
  input#start {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 10px; */
  }
  
  .menu {
    text-align: center;
    padding: 15px;
    border-width: 25px;
    font-family: "Montserrat", sans-serif;
    transform: translateY(-70px);
  }
  
  .blanco {
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    margin-left: 35px;
    margin-right: 35px;
  }
  
  .titulo {
    color: black;
    text-decoration: underline;
    text-align: center;
  }
  
  .ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
  }
  
  iframe {
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
  }
  
  .salas {
    margin-top: 5rem;
    align-items: center;
    text-align: center;
  }
  
  .descripcion {
    font-size: 20px;
    margin-top: 2rem;
  }
  
  .galeria {
    display: inline-block;
    margin-bottom: 40px;
    border-style: solid;
    color: rgb(31, 7, 7);
    background-color: rgb(44, 44, 44);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .galeria img {
    width: 500px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-width: 5px;
    border-style: ridge;
    align-items: center;
    text-align: center;
  }
  
  .galeria a {
    display: inline-block;
    background-color: rgb(234, 175, 12);
    box-shadow: rgb(216, 66, 66);
    color: black;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: italic;
    border-color: black;
    border-style: double;
    border-width: 5px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 15px;
  }
  
  .nombresala {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 153, 0);
    border-style: solid;
    border-color: rgb(255, 153, 0);
    padding: 5px;
    background-color: black;
    border-radius: 15px;
    align-self: center;
    text-align: center;
  }
  
  .galeria p {
    margin-left: 40px;
    text-align: center;
    margin-right: 40px;
    font-family: "Montserrat", sans-serif;
  }
  
  .cierre {
    font-size: 25px;
    font-family: "monserrat" sans-serif;
    color: rgba(255, 208, 0, 0.9607843137);
    font-weight: bolder;
    border-radius: 15px;
    background-color: #020100;
    margin: 15px;
  }
  
  .footerimg {
    filter: grayscale(70);
  }
  
  a:hover {
    color: gold;
  }
  
  .nombresala p {
    color: yellow;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 25px;
  }
  
  .mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    outline: none;
  }
  
  .faq {
    margin-top: 5rem;
    color: #000000;
  }
  
  .faq img {
    display: flex;
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #000407;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  
  button:hover {
    background: #f6ea01;
    color: #000000;
  }
  
  button.btn.btn-primary.collapsed {
    background-color: #000000;
    color: #f2e965;
  }
  
  .btn-primary {
    background-color: #000000;
    font-family: "monserrat" sans-serif;
    border-color: #e5a020;
  }
  
  
  /*# sourceMappingURL=styles.css.map */
  